<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создать клиента</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<div id = "toplayer">
    <img src="images/logo.png" height="100"  alt="Логотип" >
    <b class="toptext">Создать клиента</b>
</div>

<section>
    <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
        <b>Имя:</b>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <br/>
        <b>Фамилия:</b>
        <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
        <br/>
        <b>Отчество:</b>
        <input type="text" th:field="*{patronymic}" id="patronymic" placeholder="Patronymic">
        <br/>
        <b>Мобильный телефон:</b>
        <input type="text" th:field="*{number}" id="number" placeholder="Mobile Number">
        <br/>
        <input class="input-speshal" type="submit" value="Создать">
    </form>
</section>

</body>
</html>